.add{
    background-color: #11CE58;
    color: white;
}
.add:hover{
    background-color: #11B850;
}
.supp{
    color: white;
    background-color: red;
}
.supp:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(206, 8, 8);
}


.select{
    display: none;
}

a:hover{
    text-decoration: none;
}

.card{
    text-align: center;
    background-color: #12B851;
    width: 500px;
    margin: auto;
}
.card a{
    border: none;
}

.card-img-top{
    width: 200px;
    margin: auto;
}


.list-group-item{
    text-align: center;
    margin: auto;
    width: 500px;
}


from{
    text-align: center;
    width: 500px;
}

.justify-content-center{
    width: 500px;
    margin: auto;
}

.bdd{
    color: white;
}

.chck{
    display: inline-block;
    margin-left: 40px;
    width: 100px;
}
p{
    display: inline-block;
    width: 100px;
}

.card p{
    width: 400px;
}

.form-check{
    padding-left: 0.8em;
}